.copy{padding-left:30px; color: black; text-decoration: none;}
.copyInput{padding-left:30px; width: 600px; border: 0px; font-family: monospace; white-space: pre; padding: 0px; margin: 0px;}
.copyInput:focus{outline: none; padding: 0px; outline-offset: 0px;}
